

<h1 class="card-header-title">Login</h1>
    

<%= form_with url: session_path do%>
   <div class="field">
      <label class="label">
        <%= label_tag :email %>
      </label>
      <%= text_field_tag :email %>   
   </div>

    <div class="field">
          <label class="label">
          <%= label_tag :password %>
         </label>
        <%= password_field_tag :password %>
   </div>

   <div class="action">
        <%= submit_tag 'login', class: "button is-success" %>
   </div>
<% end %>





